node-red-flow.json
[
    {
        "id": "1a2b3c4d",
        "type": "tab",
        "label": "MPV Player Control",
        "disabled": false,
        "info": "Control Headless Pi MPV Player via API"
    },
    {
        "id": "play_button",
        "type": "inject",
        "z": "1a2b3c4d",
        "name": "Play Video",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"file\":\"sample.mp4\"}",
        "payloadType": "json",
        "x": 120,
        "y": 100,
        "wires": [["play_request"]]
    },
    {
        "id": "play_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "POST /api/play",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/play",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 100,
        "wires": [["response_handler"]]
    },
    {
        "id": "pause_button",
        "type": "inject",
        "z": "1a2b3c4d",
        "name": "Pause/Resume",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 160,
        "wires": [["pause_request"]]
    },
    {
        "id": "pause_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "POST /api/pause",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/pause",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 160,
        "wires": [["response_handler"]]
    },
    {
        "id": "stop_button",
        "type": "inject",
        "z": "1a2b3c4d",
        "name": "Stop",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [["stop_request"]]
    },
    {
        "id": "stop_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "POST /api/stop",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 220,
        "wires": [["response_handler"]]
    },
    {
        "id": "skip_forward_30",
        "type": "inject",
        "z": "1a2b3c4d",
        "name": "Skip +30s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"seconds\":30}",
        "payloadType": "json",
        "x": 120,
        "y": 300,
        "wires": [["skip_request"]]
    },
    {
        "id": "skip_back_30",
        "type": "inject",
        "z": "1a2b3c4d",
        "name": "Skip -30s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"seconds\":-30}",
        "payloadType": "json",
        "x": 120,
        "y": 360,
        "wires": [["skip_request"]]
    },
    {
        "id": "skip_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "POST /api/skip",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/skip",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 330,
        "wires": [["response_handler"]]
    },
    {
        "id": "custom_skip",
        "type": "function",
        "z": "1a2b3c4d",
        "name": "Custom Skip",
        "func": "// Set custom skip duration in seconds\n// Positive for forward, negative for backward\nmsg.payload = {\n    seconds: msg.payload || 10\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 420,
        "wires": [["skip_request"]]
    },
    {
        "id": "seek_position",
        "type": "function",
        "z": "1a2b3c4d",
        "name": "Seek to Position",
        "func": "// Seek to specific position in seconds\nmsg.payload = {\n    position: msg.payload || 0\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 500,
        "wires": [["seek_request"]]
    },
    {
        "id": "seek_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "POST /api/seek",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/seek",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 500,
        "wires": [["response_handler"]]
    },
    {
        "id": "volume_control",
        "type": "function",
        "z": "1a2b3c4d",
        "name": "Set Volume",
        "func": "// Set volume level (0-100)\nmsg.payload = {\n    level: msg.payload || 50\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 580,
        "wires": [["volume_request"]]
    },
    {
        "id": "volume_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "POST /api/volume",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/volume",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 580,
        "wires": [["response_handler"]]
    },
    {
        "id": "get_status",
        "type": "inject",
        "z": "1a2b3c4d",
        "name": "Get Status",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 660,
        "wires": [["status_request"]]
    },
    {
        "id": "status_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "GET /api/status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 660,
        "wires": [["status_display"]]
    },
    {
        "id": "get_files",
        "type": "inject",
        "z": "1a2b3c4d",
        "name": "List Files",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 740,
        "wires": [["files_request"]]
    },
    {
        "id": "files_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "GET /api/files",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.50.142:5000/api/files",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 740,
        "wires": [["files_display"]]
    },
    {
        "id": "response_handler",
        "type": "debug",
        "z": "1a2b3c4d",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.success",
        "statusType": "msg",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "status_display",
        "type": "debug",
        "z": "1a2b3c4d",
        "name": "Player Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.state",
        "statusType": "msg",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "files_display",
        "type": "debug",
        "z": "1a2b3c4d",
        "name": "File List",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "play_specific_file",
        "type": "function",
        "z": "1a2b3c4d",
        "name": "Play Specific File",
        "func": "// Play a specific video file\n// Change the filename as needed\nmsg.payload = {\n    file: \"example_video.mp4\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 40,
        "wires": [["play_request"]]
    },
    {
        "id": "delete_file",
        "type": "function",
        "z": "1a2b3c4d",
        "name": "Delete File",
        "func": "// Delete a specific file\n// Set msg.filename before calling this\nif (msg.filename) {\n    msg.url = `http://192.168.50.142:5000/api/files/${encodeURIComponent(msg.filename)}`;\n    msg.method = 'DELETE';\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 820,
        "wires": [["delete_request"]]
    },
    {
        "id": "delete_request",
        "type": "http request",
        "z": "1a2b3c4d",
        "name": "DELETE /api/files",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 820,
        "wires": [["response_handler"]]
    },
    {
        "id": "comment_node",
        "type": "comment",
        "z": "1a2b3c4d",
        "name": "Headless Pi MPV Player Control",
        "info": "This flow controls the Headless Pi MPV Player via its HTTP API.\n\nFeatures:\n- Play/Pause/Stop control\n- Skip forward/backward (30s or custom)\n- Seek to specific position\n- Volume control\n- Status monitoring\n- File management\n\nConfiguration:\n1. Update the IP address (192.168.50.142) in all HTTP request nodes to match your Raspberry Pi's IP\n2. Import this flow into Node-RED\n3. Deploy and use the inject buttons to control the player\n\nAPI Documentation:\nPOST /api/play - Play video {\"file\": \"video.mp4\"}\nPOST /api/pause - Toggle pause/resume\nPOST /api/stop - Stop playback\nPOST /api/skip - Skip {\"seconds\": 30}\nPOST /api/seek - Seek {\"position\": 300}\nPOST /api/volume - Volume {\"level\": 50}\nGET /api/status - Get status\nGET /api/files - List files\nDELETE /api/files/{name} - Delete file",
        "x": 170,
        "y": 900,
        "wires": []
    }
]
